/* -------------- font families and colors ----------*/
    /*
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;

    @font-face {
    font-family: 'Fira Sans', 'Pacifico', cursive,'PT Sans','Source Sans Pro' sans-serif;
 
    src url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=PT+Sans&family=Pacifico&family=Source+Sans+Pro&display=swap);
    format ("truetype");  
    }        
    */

/*---------- color palete--------------*/
    /*color palette 
    #D92B04 - red
    #F27405 - orange
    #F2B705 - yellow
    #0487D9 - light blue
    #03258C - dark blue
    #000000 - black
    #F9F1F1 - light grey
    #707070 - dark grey 
    #FFFFFF - white
    */



body {
    margin: 0 auto;
    background-color: #F5EEDA;
}


p {
    font-family: 'PT Sans', verdana, tahoma, sans-serif;
}

h1 {
    font-family: 'Fira Sans', verdana, tahoma, sans-serif;
    font-weight: bold;
}
h2 { 
    font-family: 'Source Sans Pro', verdana, tahoma, sans-serif;
    font-weight: bold;
}

.grid-container {
    display: grid;
    width: 90%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr
    
}

.grid-item {
    max-width: 100%;
    margin: auto;
    display: grid; 
}


.scroll {
    margin: 40px 100px;
    overflow: scroll;
    height: 50%;
    width: 70%;
    max-width: 100%;  
}

/* ----- for mobile devices---*/

@media screen and (min-widht: 480px) and (max-width: 766px) {
    .grid-container {
        display:grid;
        width: 100%;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .grid-item {
        grid-template-columns: 1fr;
    }
       
}


/*make the text float under the pictures */

.text {
    text-align: center;
    margin: 40px 20px 40px -4rem;  
    max-width: 100%;
}



/*For the lay out of the pictures and text in home page, explore, exhibition space and special events and exhibitions*/

.expopic  {
    width:fit-content;
    height: fit-content;
    width: 400px;
    height: 250px;
    max-width: 70%;
    max-height: 70%;
    border-radius: 20px;
    margin: 40px 100px 40px;
}

.vrheadset, .welcome, .freesign, .clocks, .wheelchair, .cafeshop, .shoppingbag, .gps, .join-us, .question-mark {
    width:fit-content;
    height: fit-content;
    width: 350px;
    height: 300px;
    max-width: 50%;
    max-height: 50%;
    padding: 20px 100px;
    border-radius: 50%; 
}
.vrheadset, .mooncicles, .happyastro, .welcome, .join-us {

    display: block;
    margin-left: auto;
    margin-right: auto; 
}

/*---------------NAV--------------*/


header, footer {
    background-color: #03258C;
    height: 10rem;
    max-height:100%;
    max-width: 100%;
    width:100%;
    height: fit-content;
   
}


.logo {
    border-radius: 20px;
    max-width: 150px;
    max-height: 150px;
    width: 100px;
    height: 100px;
    margin: -2rem;
    
}


nav{
    display: flex; 
    margin:auto;
    padding: 5%;
    
}

nav li {  
    font-family: 'Fira Sans', sans-serif;
    text-align: right;
    display:inline-flex;
   
}

nav li a {
    color: #f2b705;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px 20px 40px;   
}


ul {
    list-style-type: none;
}

.mediabuttons{
    padding: 0 100px;
    margin: 0 auto;
}
 
.expotitle {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


/*---- responsive to devices----*/




/* ----- for tablets devices---*/
@media screen and (minx-widht: 767px) and (max-width: 1024px) and (orientation: landscape)  {
    
}

/* ----- for laptops and desktops devices---*/
@media screen and (max-widht: 1025px) and (max-width: 1281px) {
    
}

