
/*fonts for this project
font-family: 'Fira Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'PT Sans', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/

/* why is this not working!!!
@font-face {
    font-family: 'Fira Sans', 'Pacifico', cursive,'PT Sans','Source Sans Pro' sans-serif;
 
    src url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=PT+Sans&family=Pacifico&family=Source+Sans+Pro&display=swap);
    format ("truetype");  
}
*/

/*this should affect all the pages*/

body {
    margin:auto;
    background-color: #F5EEDA;
}

p {
    font-family: 'PT Sans', verdana, tahoma, sans-serif;
}

h2 { 
    font-family: 'Source Sans Pro', verdana, tahoma, sans-serif;
    font-weight: bold;
}

h1 {
    font-family: 'Fira Sans', verdana, tahoma, sans-serif;
    font-weight: bold;
}

/*For the lay out of the pictures and text in home page, explore, exhibition space and special events and exhibitions*/ 

.expopic {
    width:fit-content;
    height: fit-content;
    width: 400px;
    height: 200px;
    max-width: 30%;
    max-height: 30%;
    padding: auto;
    border-radius: 20px;
}

#museumwall, #whiteroom, #giantant, #geometrical  {
    width:fit-content;
    height: fit-content;
    width: 400px;
    height: 250px;
    max-width: 70%;
    max-height: 70%;
    border-radius: 20px;
    margin: 40px 200px;
}

/*NAV*/

header {
    background-color: #03258C;
    max-width: 100%;
    height: 10rem;
    max-height: fit-content;
   
}

.logo {
    border-radius: 20px;
    max-width: 150px;
    max-height: 150px;
    width: 100px;
    height: 100px;
    margin: -2rem;
    
}

nav{
    display: flex; 
    margin:auto;
    padding: 5%;
    
}

/*needs more work!!!!!!!! */
nav li {  
    font-family: 'Fira Sans', sans-serif;
    text-align: right;
    display:inline-flex;
   
}

nav li a {
    color: #f2b705;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px 20px 40px;   
}

ul {
    list-style-type: none;
}

/*check if this works in the phone!!!!
@media screen and (max-width (600px)) {
    nav {
        float: right;
        display: block;

    }
}*/

/*footer*/










/*this is for the index page*/



#intro {
    text-align: left;
    margin: 40px 100px;
}


#intro h1 {
    text-align: center;
}

.bulb {
    width:fit-content;
    height: fit-content;
    width: 300px;
    height: 300px;
    max-width: 70%;
    max-height: 70%;
    border-radius: 50%;
    margin: 40px 230px;
}

#scroll {
    
}
 
/*
    width:fit-content;
    height: fit-content;
    width: 400px;
    height: 350px;
    max-width: 50%;
    max-height: 50%;
    border-radius: 30%;
    margin: 40px 250px;
*/



.grid-container {
    display: grid;
    width: 90%;
    margin: auto;
    grid-template-columns: 1fr 1fr;

}



.vrheadset{
    width:fit-content;
    height: fit-content;
    width: 400px;
    height: 200px;
    max-width: 30%;
    max-height: 30%;
    padding: auto;
    border-radius: 50%;
}