


.container {
    position: relative;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: inherit;
}

.container .item {
    position: relative;
    max-width: 450px;
    margin: 10px;
    padding: 15 px; 
    display: flex;
}


.container .item .imgbx {
    width: auto;
    flex: 0 0 150px; 
}

.container .item .imgbx img{
    max-width: 100%;
}

.container .item .content {
    margin-left:auto;
    width: 100%;
}

.admission, .open, .shop {
    margin-left: 20rem
}

/* ----- for mobile devices---*/

@media screen and /*(min-widht: 480px) and*/ (max-width: 766px) {
    .container {
        position: unset;
        display: flex;
        margin: 1rem;
        flex: none;
        width: 100%;
    }
    .content {
        padding: 10px 10px;
        margin: auto;
        width: 100%;
    }
    .imgbx {
        padding: 20px 30px 20px 30px;
        flex: none;
    }
    
    .shoptext {
        padding: 20px 50px;
    }

    .container, .item, .imgbx, .content {
        flex:1em;    
    }
}