
/*fonts for this project
font-family: 'Open Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'PT Sans', sans-serif;
font-family: 'Source Sans Pro', sans-serif;

*/

.nav{
    background-color: #03258C;
    margin: 0;
    padding: 40px auto;
}
.information{
    display: inline-block;
    margin: auto; 
    padding: 30px;
}